<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>
            {% if post.author == current_user %}
                <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-primary">Edit Post</a>
            {% endif %}
            <br>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:<br>
            <strong>{{ post.title }}</strong><br>
            {{ post.description }}<br>
            <em>Price: ${{ post.price }}</em><br>
            <em>Servings: {{ post.servings }}</em><br>
            <em>Preparation Time: {{ post.prep_time }} minutes</em><br>
            <p>{{ post.recipe_text }}</p>
            
        </td>
    </tr>
</table>
