{% extends "base.html" %}

{% block content %}

    <header class="site-header section-padding d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12">
                    <h1>
                        <td></td>
                        <td>
                        <span class="d-block text-primary">Explore </span>
                        <span class="d-block text-dark">Recipes</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <a href="{{ url_for('add_recipe') }}" class="btn btn-success">Add a Recipe</a>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
