{% extends "base.html" %}

{% block content %}

    <section class="slick-slideshow">   
        <div class="slick-custom">
            <img src="../static/images/pexels-hasan-kurt-154798938-10749578.jpg" class="img-fluid flip-image" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Cookin'for good lookin'</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Our website is a community-driven platform designed to let food lovers create and share their favorite recipes with each other. Whether you’re an experienced chef or just starting your culinary journey.</p>

                            <a href="{{ url_for('explore') }}" class="btn custom-btn">Explore Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="products section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <h1>Welcome, {{ current_user.username }}!</h1>
                    <h3>
                        <a href="{{ url_for('add_recipe') }}" class="btn btn-success">Add a Recipe</a>
                    </h3>
                </div>

                <h2 class="mb-4">Recipes from people<span> you follow</span></h2>
                {% for post in posts %}
                {% include '_post.html' %}
                {% endfor %}

                <div class="col-12">
                    {% if next_url %}
                        <a href="{{ next_url }}" class="btn btn-primary">Next</a>
                    {% endif %}
                    {% if prev_url %}
                        <a href="{{ prev_url }}" class="btn btn-primary">Previous</a>
                    {% endif %}
                </div>


            </div>
        </div>
    </section>



{% endblock %}