{% extends "base.html" %}

{% block content %}

    <header class="site-header section-padding d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12">
                    <h1>
                        <td></td>
                        <td>
                        <span class="d-block text-dark">Recipe:</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    

    <section class="about section-padding">
        <div class="container">
            <div class="row">
    
                <div class="col-12 text-left">
                    <p>
                        Posted by: 
                        <img src="{{ post.author.avatar(36) }}" alt="{{ post.author.username }}" />
                        <a href="{{ url_for('user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </p>
                    
                    
                    <h1>
                        <form id="like-form-{{ post.id }}" method="POST" action="{{ url_for('like_recipe', post_id=post.id) }}">
                            <button type="submit" class="bi-heart-fill heart-icon ms-auto2 {{ 'liked' if current_user.has_liked_post(post) else '' }}" data-post-id="{{ post.id }}">
                            </button>
                        </form>
                        {{ post.title }} - <span id="like-count-{{ post.id }}">{{ post.likes_count() }}</span> like(s)
                    </h1>

                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const likeButtons = document.querySelectorAll('.bi-heart-fill');
                            
                            likeButtons.forEach(button => {
                                button.addEventListener('click', function(event) {
                                    event.preventDefault();
                                    const postId = this.getAttribute('data-post-id');
                                    const form = document.getElementById(`like-form-${postId}`);
                                    
                                    fetch(form.action, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/x-www-form-urlencoded',
                                        },
                                        body: new URLSearchParams(new FormData(form)).toString()
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        const likeCount = document.getElementById(`like-count-${postId}`);
                                        likeCount.innerText = data.likes_count;
                
                                        if (data.liked) {
                                            this.classList.add('liked');
                                        } else {
                                            this.classList.remove('liked');
                                        }
                                    })
                                    .catch(error => console.error('Error:', error));
                                });
                            });
                        });
                    </script>
                    
                    <p>{{ post.description }}</p>
                    <em>Price: €{{ post.price }}</em><br>
                    <em>Servings: {{ post.servings }}</em><br>
                    <em>Preparation Time: {{ post.prep_time }} minutes</em><br>
                    <p>{{ post.recipe_text | nl2br | safe }}</p></p>

                    <a href="{{ url_for('explore') }}" class="btn custom-btn">Explore more recipes</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}